<html>
<head>
    <title></title>
    <script src="view/js/lib/jquery-1.11.3.js"></script>
    <script>
    $(function(){
      $("#header").load("view/html/header.html");
      $("#footer").load("view/html/footer.html");
    });
</script>
    <script>
      input.image {
      width:10px;
      height:10px;
      size:20
  </script>
</head>
<body>
<div id="header"></div>
    <h1>Company Home Page</h1>
    <form>
        <!--<img src="view/images/new-emp.jpeg">-->
        <input type="image" src="../images/new-emp.jpeg" alt="submit">
        <input type="image" src="../images/update-emp.jpeg">

        <input type="image" src="../images/remuneration.jpeg">

    </form>

<div id="footer"></div>
</body>
</html>