<html>
<head>
    <title></title>
    <script src="view/js/lib/jquery-1.11.3.js"></script>
    <script>
        $(function(){
          $("#header").load("view/html/header.html");
          $("#footer").load("view/html/footer.html");
        });
    </script>
    <style>
        .floating-box {
        float: left;
        width: 300px;
        height: 300px;
        margin: 10px;
        text-align: center;
        color: green;
        <!--align: center;-->
        <!--bottom: 0;-->
        <!--border: 3px solid #73AD21;-->
        }

        .after-box {
        clear: left;
        <!--border: 3px solid red;-->
        }
    </style>
</head>
<body>
<div id="header"></div>

<div id="section">
    <div class="floating-box">
        <form>
            <input type="image" src="view/images/new-emp.jpeg" alt="submit" width="250" height="250">
        </form>
        <br><b>New Employee</b>
    </div>
    <div class="floating-box">
        <form>
            <input type="image" src="view/images/update-emp.jpeg" alt="submit" width="250" height="250">
        </form>
        <br><b>Update Employee</b>
    </div>
    <div class="floating-box">
        <form>
            <input type="image" src="view/images/remuneration.jpeg" alt="submit" width="250" height="250">
        </form>
        <br><b>Employee Remuneration</b>
    </div>
    <div class="after-box"/>
</div>
<div id="footer"></div>
</body>
</html>